body { background: aquamarine; }
h1{ color: cadetblue; font-size: 37px; font-family: arial; } 
h2 { color: cadetblue; font-size: 25px; font-family: arial; } 
p { text-indent: 1cm; background: aqua; font-family: courier; }
