      div.container {
        width: 100%;
        margin: 0px;
        border: 1px solid gray;
        line-height: 150%;
      }

      div.header, div.footer {
        padding: 0.5em;
        color: white;
        background-color: gray;
        clear: left;
        text-align: left;
      }

      h1.header {
        padding: 0;
        margin: 0;
        text-align: left;
      }

      div.left {
        float: left;
        width: 160px;
        margin: 0;
        padding: 1em;
        text-align: center;
      }

      div.content {
        margin-left: 190px;
        border-left: 1px solid gray;
        padding: 1em;
        text-align: left;
        height: 600px;
      }
